# Pandas - Series

In [18]:
import numpy as np
import pandas as pd

## Create Series

In [11]:
s = pd.Series([123231,223232,3232323,4232324])
s

0     123231
1     223232
2    3232323
3    4232324
dtype: int64

In [19]:
s = pd.Series([123231,223232,3232323,4232324],
              index=['서울','부산','인천','대구'], dtype=np.int32)
s

서울     123231
부산     223232
인천    3232323
대구    4232324
dtype: int32

In [20]:
# val of Series : numpy array 
s.values

array([ 123231,  223232, 3232323, 4232324], dtype=int32)

In [21]:
# index of Series 
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [22]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울     123231
부산     223232
인천    3232323
대구    4232324
Name: 인구, dtype: int32

## Series operation

In [24]:
s / 100000

도시
서울     1.23231
부산     2.23232
인천    32.32323
대구    42.32324
Name: 인구, dtype: float64

## Series Indexing

In [33]:
s[1], s['부산'], s.부산

(223232, 223232, 223232)

In [26]:
# fancy indexing
s[[0,3,1]]

도시
서울     123231
대구    4232324
부산     223232
Name: 인구, dtype: int32

In [27]:
# slicing
s[1:3]

도시
부산     223232
인천    3232323
Name: 인구, dtype: int32

In [28]:
# string index slicing : last('대구') include
s['부산':'대구']

도시
부산     223232
인천    3232323
대구    4232324
Name: 인구, dtype: int32

In [29]:
# filtering
s[(300000 < s) & (s < 4000000)] # s[300000 < s < 4000000)] cannot

도시
인천    3232323
Name: 인구, dtype: int32

In [31]:
s[(29e5 < s) | (s < 4e6)]

도시
서울     123231
부산     223232
인천    3232323
대구    4232324
Name: 인구, dtype: int32

In [32]:
s.부산

223232

## Series & Dictionary

In [34]:
'서울' in s, '대전' in s

(True, False)

In [38]:
s2 = pd.Series({'서울':123412, '부산':123123,'인천':353555,'대전':546374})
s2

서울    123412
부산    123123
인천    353555
대전    546374
dtype: int64

## Index base Operation

In [39]:
s - s2

대구          NaN
대전          NaN
부산     100109.0
서울       -181.0
인천    2878768.0
dtype: float64

In [40]:
s.values - s2.values

array([   -181,  100109, 2878768, 3685950])

In [42]:
rs = (s-s2)/s2 * 100
rs

대구           NaN
대전           NaN
부산     81.308123
서울     -0.146663
인천    814.234843
dtype: float64

In [43]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [44]:
rs[rs.notnull()]

부산     81.308123
서울     -0.146663
인천    814.234843
dtype: float64

## Data Update, Add, Delete

In [45]:
# update
rs['부산'] = 1.63
rs

대구           NaN
대전           NaN
부산      1.630000
서울     -0.146663
인천    814.234843
dtype: float64

In [46]:
# add
rs['대구'] = 1.41
rs

대구      1.410000
대전           NaN
부산      1.630000
서울     -0.146663
인천    814.234843
dtype: float64

In [47]:
# delete
del(rs['부산'])
rs

대구      1.410000
대전           NaN
서울     -0.146663
인천    814.234843
dtype: float64