# DF advanced indexing

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

# 1 index row indexing

In [5]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [10]:
df.loc['a':'b'] # df['a':'b'] same

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [12]:
df.loc[['a','c']]

    A   B   C   D
a  10  11  12  13
c  18  19  20  21

In [13]:
df['A'] > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [15]:
# Boolean indexing
df.loc[df.A>15]

    A   B   C   D
c  18  19  20  21

### 2 index

In [17]:
df.loc['a', 'A']

10

In [18]:
df.loc['b':,'B']

b    15
c    19
Name: B, dtype: int64

In [19]:
df.loc[df.A>10, 'A']

b    14
c    18
Name: A, dtype: int64

## iloc index

In [20]:
df.iloc[:2, 1:]

    B   C   D
a  11  12  13
b  15  16  17

In [21]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int64

In [23]:
### quiz 4.3.1
df = pd.DataFrame(np.arange(25).reshape(5,5),
                  index = ['a', 'b', 'c', 'd', 'e'],
                  columns = ['v', 'w', 'x', 'y', 'z'])
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [25]:
# 12 값 10가지 
df['x']['c'], df.x['c'], df.x[2], df.x.c

(12, 12, 12, 12)

In [29]:
# loc
df.loc['c','x'], df.loc['c']['x'], df.loc['c'][2]

(12, 12, 12)

In [31]:
# iloc
df.iloc[2,2], df.iloc[2]['x'], df.iloc[2][2]

(12, 12)

In [33]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [34]:
for i in df.index:
  print(df.x[i])

2
7
12
17
22